<div
	class="d-flex flex-row stats p-2"
	appTheme
	[appLoading]="headerStatistics === null">
	<div class="d-flex my-auto flex-column ms-2">
		<strong class="text-center">{{ headerStatistics?.points }}</strong>
		<span class="text-center">punktów</span>
	</div>
	<div class="mx-4 stats-divider my-2"></div>
	<div class="d-flex my-auto flex-column">
		<strong class="text-center">{{ headerStatistics?.questions }}</strong>
		<span class="text-center">pytań</span>
	</div>
	<div class="mx-4 stats-divider my-2"></div>
	<div class="d-flex my-auto flex-column me-2">
		<strong class="text-center">{{ headerStatistics?.answers }}</strong>
		<span class="text-center">odpowiedzi</span>
	</div>
</div>
