<div class="d-flex my-auto flex-column ms-2">
	<b class="text-center">{{ headerStatistics?.points }}</b>
	<span class="text-center">punktów</span>
</div>
<div class="mx-4 stats-divider my-2"></div>
<div class="d-flex my-auto flex-column">
	<b class="text-center">{{ headerStatistics?.questions }}</b>
	<span class="text-center">pytań</span>
</div>
<div class="mx-4 stats-divider my-2"></div>
<div class="d-flex my-auto flex-column me-2">
	<b class="text-center">{{ headerStatistics?.answers }}</b>
	<span class="text-center">odpowiedzi</span>
</div>
