@use "colors" as colors;
@use "breakpoints" as bp;

:host {
  flex: 1;
  min-width: 500px;

  app-button {
    font-size: 13px;

    &:hover {
      opacity: 0.9;
    }
  }

  .show-answer-btn {
    background: colors.$blue-laguna;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.question {
  border: 1px solid colors.$bordered-gray;

  .created-at {
    border-left: 1px solid colors.$bordered-gray;
    font-size: 13px;
    font-weight: 400;
  }

  .app-uniquanda-line {
    height: 3px;
  }

  .answer-wrapper {
    background-color: colors.$very-light-gray;

    &.blur {
      border: 1px solid colors.$bordered-gray;
      background-color: transparent !important;
    }

    .blur {
      filter: blur(4.5px);
      user-select: none;
    }
  }

  .display-comments-btn {
    color: var(--link-default);
    font-size: 13px;
  }

  .comment.odd {
    background-color: colors.$very-light-gray;
  }

  .add-answer-info {
    background-color: colors.$tag-blue;
    color: colors.$academic-blue;
    font-size: 13px;
  }

  .open-question-page-btn {
    color: colors.$academic-blue;
    font-weight: 500;
    font-size: 14px;
  }

  &.dark {
    .answer-wrapper,
    .comment.odd {
      background-color: colors.$zebra-gray !important;
    }

    .open-question-page-btn {
      color: colors.$dark-yellow;
    }
  }
}

@media screen and (max-width: bp.$lg) {
  :host {
    min-width: unset;
  }
}

@media screen and (max-width: bp.$sm) {
  .display-comments-btn {
    font-size: 11px;
  }
}
