@use './../../../../../../assets/scss/colors.scss' as colors;

:host(app-custom-dropzone-preview){
	min-width: unset !important;
	max-width: unset !important;
	padding: 0 !important;
	margin: 0 !important;
	min-height: unset !important;
	height: 100% !important;
	width: 100% !important;
	border-radius: 0 !important;
	border: none !important;
	display: block !important;;

	ngx-dropzone-remove-badge {
		opacity: 1;
		background-color: colors.$crystal-black;
	}
}

.img-prev {
	object-fit: cover !important;
}

.avatar-img {
	height: 100% !important;
}

@media all and (max-width: 575px) {
	.banner-img {
		min-width: 574px;
	}
}
