<ng-container *appContext="let requestedTitlesList of requestedTitles | async">
	<ng-container *ngIf="requestedTitlesList.length !== 0">
		<hr class="line" />
		<div class="table-header w-100 d-none d-md-flex py-2">
			<strong class="col-2 px-4">Tytuł naukowy</strong>
			<strong class="col-2 px-4">Data prośby</strong>
			<strong class="col-8 px-4">Status</strong>
		</div>
		<div class="d-flex flex-column" appTheme>
			<div
				class="record d-flex mb-3 mb-md-0 py-0 py-md-3"
				*ngFor="let request of requestedTitlesList">
				<div class="w-100 d-flex d-md-none flex-column">
					<div class="table-header w-100"></div>
					<div class="d-flex flex-column p-2">
						<div class="d-flex">
							<strong>Tytuł naukowy: </strong>
							<span class="ms-2">{{ request.title }}</span>
						</div>
						<div class="d-flex mt-2">
							<strong>Data prośby: </strong>
							<span class="ms-2">{{
								_moment(request.requestDate).locale('pl').format('ll')
							}}</span>
						</div>
						<div class="d-flex mt-2">
							<strong>Status: </strong>
							<em
								class="px-3 ms-2 status-badge status-badge-{{
									getStatusClass(request.status)
								}} my-auto"
								>{{ getStatusText(request.status) }}</em
							>
						</div>
						<div
							class="d-flex mt-3 mx-auto"
							*ngIf="request.status === TitleStatus.ActionRequired"
							appNotImplemented>
							<span>Przejdź do konwersacji</span>
							<app-icon icon="linkv2" class="ms-3"></app-icon>
						</div>
					</div>
				</div>
				<span class="col-2 px-4 d-none d-md-flex my-auto">{{
					request.title
				}}</span>
				<span class="col-2 px-4 d-none d-md-flex my-auto">{{
					_moment(request.requestDate).locale('pl').format('ll')
				}}</span>
				<div class="col-8 px-4 d-none d-md-flex">
					<em
						class="px-3 status-badge status-badge-{{
							getStatusClass(request.status)
						}} my-auto"
						>{{ getStatusText(request.status) }}</em
					>
					<div
						class="d-flex ms-3"
						*ngIf="request.status === TitleStatus.ActionRequired"
						appNotImplemented>
						<span>Przejdź do konwersacji</span>
						<app-icon icon="linkv2" class="ms-3"></app-icon>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
</ng-container>
