$light-purple: #9194da;
$academic-blue: #262b90;
$crystal-white: #fff;
$crystal-black: #000;
$elegant-gray: #e5e5e5;
$blue-laguna: #1aa39d;
$dark-yellow: #ffc70f;
$pink: #f99bcc;
$light-red: #fe4d11;
$light-gray: #434343;
$dark-gray: #19181A;
$zebra-grey: #232323;
$bordered-gray: #969696;
$validation-red: #fe1010;
$tag-blue: #d9dbf6;
$gray: #E5E5E5;