$light-purple: #9194da;
$academic-blue: #262b90;
$hovered-academic-light: #5155a6;
$hovered-academic-dark: #232778;
$crystal-white: #fff;
$crystal-black: #000;
$elegant-gray: #e5e5e5;
$blue-laguna: #1aa39d;
$dark-yellow: #ffc70f;
$hovered-dark-yellow: #c8a424;
$banana-life: #fbecae;
$pink: #f99bcc;
$light-red: #fe4d11;
$light-gray: #434343;
$dark-gray: #19181A;
$zebra-gray: #232323;
$bordered-gray: #969696;
$validation-red: #f44336;
$tag-blue: #d9dbf6;
$light-yellow: #FBECAE;
$strong-yellow: #FFCC10;
$light-pink: #F1CDC0;
$calm-gray: #f3f3f3;
