@use 'breakpoints' as breakpoints;

.not-implemented {
	cursor: not-allowed !important;
	user-select: none;
	-webkit-user-select: none;

	* {
		cursor: not-allowed !important;
    pointer-events: none !important;
	}
}

.not-implemented-tooltip {
	transform: translateY(50%) !important;
	-webkit-transform: translateY(50%) !important;
  font-size: 14px;
}