@use '/src/assets/scss/colors.scss' as colors;

/* LIGHT MODE */
:root {
	--bg-default: #{colors.$crystal-white};
	--bg-hover: #{colors.$elegant-gray};

	--text-default: #{colors.$crystal-black};
}

/* DARK MODE */
:root .dark {
	--bg-default: #{colors.$dark-gray};
	--bg-hover: #{colors.$light-gray};

	--text-default: #{colors.$crystal-white};
}