@use "./colors.scss" as colors;
@use "./breakpoints.scss" as breakpoints;

.ngx-toastr {
	-webkit-box-shadow: -3px 1px 28px -18px rgba(66, 68, 90, 1) !important;
	-moz-box-shadow: -3px 1px 28px -18px rgba(66, 68, 90, 1) !important;
	box-shadow: -3px 1px 28px -18px rgba(66, 68, 90, 1) !important;	
	width: 388px !important;
	background-color: colors.$crystal-white !important;
	color: colors.$crystal-black !important;
	border: 1px solid colors.$bordered-gray;
	padding: 25px 20px !important;
	background-image: none !important;
	cursor: default !important;

	.toast-close-button {
		color: colors.$crystal-black !important;
		font-size: 30px !important;
		right: -.3em !important;
		top: -.9em !important;

		&:hover {
			opacity: .6;
		}
	}

	.toast-title {
		font-size: 16px;
		font-weight: bold;
		border-bottom: 2px solid colors.$bordered-gray;
		padding-bottom: 10px;
		margin-bottom: 10px;
		margin-right: 75px;

		&:before {
			border-radius: 50%;
			font-family: 'Uniquanda';
			padding: 7px;
			margin-right: 5px;
		}
	}

	.toast-message {
		color: colors.$light-gray !important;
	}

	&.toast-error {
		.toast-title:before {
			color: colors.$crystal-white;
			background-color: colors.$light-red;
			content: "\e907";
		}
	}

	&.toast-success {
		.toast-title:before {
			color: colors.$crystal-white;
			background-color: colors.$blue-laguna;
			content: "\e906";
			padding: 7px 5px;
		}
	}

	&.dark {
		background-color: colors.$dark-gray !important;
		color: colors.$crystal-white !important;

		.toast-close-button {
			color: colors.$crystal-white !important;
		}

		.toast-message {
			color: colors.$bordered-gray !important;
		}	
	}
}

@media screen and (max-width: breakpoints.$sm) {
	.toast-container {
		left: 20px !important;
		width: calc(100% - 40px) !important;

		.ngx-toastr {
			width: 100% !important;
		}
	}
}