@use 'breakpoints' as bp;

:host {
	.info {
		font-size: 14px;
		font-style: italic;
	}

	::ng-deep app-tag {
		span {
			padding: 2px 10px !important;
		}
	}

	.question-wrapper {
		flex: 1;
	}

	app-button {
		font-size: 13px;
	}
}

@media screen and (max-width: bp.$md) {
	.finish-test-btn {
		width: 100%;
	}
}
