@use "colors" as colors;
@use "dimensions" as dim;

.shrug {
  font-size: 280px;
}

.content-box {
  min-height: calc(100vh - 145px);
}

.header-text {
  margin-top: -70px;
}

.text-box {
  max-width: 450px;
}

.box {
  max-width: 450px;
  background-color: colors.$light-yellow;
  color: colors.$crystal-black;

  span {
    font-size: 14px;

    &.bold {
      font-weight: 500;
    }
  }

  .benefit {
    display: flex;
    align-items: center;
    margin-top: 8px;

    app-icon {
      font-size: 14px;
      padding: 6px;
      border-radius: 50%;
      color: colors.$crystal-white;
      background-color: colors.$strong-yellow;
      margin-right: 8px;
    }
  }

  app-button {
    background-color: colors.$strong-yellow !important;
  }
}

.back-to-homepage {
  font-size: 18px;
  min-width: max-content;
}
