@use './../../../../../../assets/icons/style.css';
@use './../../../../../../assets/scss/colors.scss' as colors;
@use './../../../../../../assets/scss/breakpoints.scss' as breakpoints;

.nav-container {
	row-gap: 6px;
	column-gap: 10px;
	font-weight: 500;
}

.item {
	padding: 10px 13px 10px 13px;
	background-color: var(--bg-accent);
	color: var(--text-default);
	min-width: unset;
	width: fit-content;
	font-family: Ubuntu, sans-serif;
	white-space: nowrap;
	font-size: 16px;
}
.mat-tab-label-active {
	background-color: colors.$academic-blue;
	color: colors.$crystal-white;
	opacity: 1;
}

.myPanels::ng-deep {
	.mat-ink-bar {
		display: none;
	}
	.mat-tab-links {
		justify-content: center !important;
		flex-wrap: wrap !important;
	}
}

@media all and (max-width: breakpoints.$lg) {
	.item {
		padding: 2px 7px 2px 7px;
		font-size: 13px;
	}

	.mat-tab-link {
		height: 40px;
	}

	*::ng-deep {
		.mat-tab-label:first-of-type {
			display: flex;
		}
	}
}
::ng-deep {
	.mat-tab-label {
		color: var(--text-default);
		opacity: 1 !important;
		background-color: var(--bg-accent);
		font-family: Ubuntu, sans-serif;
		margin-right: 1rem;
		min-width: unset !important;
		display: flex;
		&:first-of-type {
			display: none;
		}
	}

	/* Styles for the active tab label */
	.mat-tab-label.mat-tab-label-active {
		background-color: colors.$academic-blue;
	}
	.mat-ink-bar {
		display: none;
	}
	.mat-tab-nav-bar,
	.mat-tab-header {
		border-bottom: 0px;
	}
	.mat-tab-header-pagination-chevron {
		border-color: var(--text-default) !important;
	}
}
