<mat-tab-group
	class="mt-3 mx-auto ms-lg-2 d-flex ps-xl-5"
	[selectedIndex]="getActiveTabId()"
	(selectedTabChange)="setActivePage($event)"
	mat-align-tabs="center"
	preserveContent>
	<mat-tab>
		<ng-template mat-tab-label>
			<span>O użytkowniku</span>
		</ng-template>
		<ng-template matTabContent>
			<app-left-data-profile
				[profile$]="profile$"
				[papers$]="papers$"></app-left-data-profile>
		</ng-template>
	</mat-tab>
	<mat-tab label="Pytania">
		<ng-template matTabContent>
			<app-questions-profile
				class="w-100"
				[questionsResponse]="questionsRequest$"
				[questionsOnPage]="itemsOnTab"
				(pageChangedEvent)="loadQuestions($event)"></app-questions-profile>
		</ng-template>
	</mat-tab>
	<mat-tab label="Odpowiedzi">
		<ng-template matTabContent>
			<app-answers-profile class="mt-2"></app-answers-profile>
		</ng-template>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label appNotImplemented>
			<span appNotImplemented>Testy</span>
		</ng-template>
		<hr class="divider ms-lg-0 ms-3" />
		Testy dostępne w wersji 2.0
	</mat-tab>
</mat-tab-group>
