<div class="d-flex flex-column">
	<div class="d-flex flex-row justify-content-between align-items-center mb-2">
		<a
			routerLink="/public/profile/{{ question.author.id }}"
			class="d-flex flex-row align-items-center">
			<img
				alt="Zdjęcie profilowe autora"
				[src]="question.author.avatarUrl ?? staticImageSrc.Avatar"
				class="author-avatar me-3" />
			<span class="nickname">{{ question.author.nickname }}</span>
		</a>
		<app-question-details-header-settings
			[question]="question"
			[idLoggedUser]="idLoggedUser"
			[isQuestionAuthor]="
				isQuestionAuthor
			"></app-question-details-header-settings>
	</div>
	<h1 class="title medium-bold mb-2">{{ question.header }}</h1>
	<div class="d-flex flex-row flex-wrap mb-3 gap-2">
		<app-question-details-tags
			[tags]="question.tags"></app-question-details-tags>
		<app-question-details-info
			[question]="question"></app-question-details-info>
	</div>
	<app-content-form
		class="d-flex"
		[control]="htmlControl"
		[showBlocks]="true"
		[isEditMode]="false"></app-content-form>
	<hr class="my-0" />
</div>
