<div
	class="d-flex flex-xl-row flex-column justify-context-xl-center main-container ps-xl-5 ps-3 pe-xl-0 pe-3">
	<div class="d-flex flex-column left-menu">
		<app-question-details-desktop-header
			*ngIf="question"
			[question]="question"
			[idLoggedUser]="user?.id ?? null"></app-question-details-desktop-header>
		<div
			*ngIf="!question"
			class="w-100 question-details-loading"
			[appLoading]="!question"></div>
	</div>
	<div class="ms-sm-5 ms-2 ps-2 w-100 mb-3 mt-3 d-flex d-xl-none">
		<hr class="line w-100" />
	</div>
	<app-right-menu
		[options]="[
			'about',
			'create-an-account',
			'generate-test',
			'top-users',
			'buy-premium'
		]"
		class="right-menu">
	</app-right-menu>
</div>
