<form
	[formGroup]="form"
	(ngSubmit)="sendForm()"
	class="d-flex flex-column align-items-start">
	<app-input
		label="Bieżące hasło"
		type="password"
		[control]="form.controls['oldPassword']"
		[errors]="[
			{
				name: 'required',
				message: 'Hasło jest wymagane.'
			},
			{
				name: 'pattern',
				message: 'Siła hasła nie spełnia polityki serwisu.'
			},
			{
				name: 'invalidPassword',
				message: 'Błędne hasło.'
			}
		]"></app-input>
	<app-input
		label="Nowe hasło"
		hint="Min. 8 znaków, jedna wielka litera, jedna mała litera, jedna cyfra."
		[control]="this.form.controls['newPassword']"
		type="password"
		[errors]="[
			{
				name: 'pattern',
				message:
					'Min. 8 znaków, jedna wielka litera, jedna mała litera, jedna cyfra.'
			},
			{
				name: 'notUpdatedPassword',
				message: 'Nowe hasło jest identyczne względem starego hasła'
			}
		]">
	</app-input>
	<app-input
		label="Powtórz hasło"
		[control]="this.form.controls['newRepeatedPassword']"
		type="password"
		[errors]="[
			{
				name: null,
				message: 'Hasła nie są identyczne.'
			}
		]">
	</app-input>
	<app-button class="mt-3 px-4 py-2" mode="submit" color="purple"
		>Zapisz zmiany</app-button
	>
</form>
