@font-face {
  font-family: 'Uniquanda';
  src:  url('fonts/Uniquanda.eot?qrz5pm');
  src:  url('fonts/Uniquanda.eot?qrz5pm#iefix') format('embedded-opentype'),
    url('fonts/Uniquanda.ttf?qrz5pm') format('truetype'),
    url('fonts/Uniquanda.woff?qrz5pm') format('woff'),
    url('fonts/Uniquanda.svg?qrz5pm#Uniquanda') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Uniquanda' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Page_not_found:before {
  content: "\e931";
}
.icon-phone:before {
  content: "\e930";
}
.icon-reorder:before {
  content: "\e92f";
}
.icon-dots:before {
  content: "\e92e";
}
.icon-arrow:before {
  content: "\e92d";
}
.icon-arrow_down:before {
  content: "\e900";
}
.icon-arrow_up:before {
  content: "\e901";
}
.icon-bold:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e904";
}
.icon-certificate:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-dark_mode:before {
  content: "\e908";
}
.icon-delete:before {
  content: "\e909";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-help:before {
  content: "\e90b";
}
.icon-hide:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e90d";
}
.icon-italic:before {
  content: "\e90e";
}
.icon-Light_mode:before {
  content: "\e90f";
}
.icon-link:before {
  content: "\e910";
}
.icon-linkv2:before {
  content: "\e911";
}
.icon-list_number:before {
  content: "\e912";
}
.icon-list_point:before {
  content: "\e913";
}
.icon-load_more:before {
  content: "\e914";
}
.icon-location:before {
  content: "\e915";
}
.icon-lock:before {
  content: "\e916";
}
.icon-login:before {
  content: "\e917";
}
.icon-logout:before {
  content: "\e918";
}
.icon-mail:before {
  content: "\e919";
}
.icon-menu:before {
  content: "\e91a";
}
.icon-notification:before {
  content: "\e91b";
}
.icon-picture:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91d";
}
.icon-popular:before {
  content: "\e91e";
}
.icon-premium:before {
  content: "\e91f";
}
.icon-profile:before {
  content: "\e920";
}
.icon-quote:before {
  content: "\e921";
}
.icon-ranking:before {
  content: "\e922";
}
.icon-redo:before {
  content: "\e923";
}
.icon-report:before {
  content: "\e924";
}
.icon-safety:before {
  content: "\e925";
}
.icon-search:before {
  content: "\e926";
}
.icon-settings:before {
  content: "\e927";
}
.icon-show:before {
  content: "\e928";
}
.icon-tag:before {
  content: "\e929";
}
.icon-test:before {
  content: "\e92a";
}
.icon-underline:before {
  content: "\e92b";
}
.icon-undo:before {
  content: "\e92c";
}
