<div class="tag-box d-flex flex-column mt-2 mx-1">
	<div
		class="d-flex flex-column p-3 h-100 tag-box-child"
		*ngIf="!parentTagId; else subtag">
		<app-tag [name]="tag.name" class="mb-2 main-tag"></app-tag>
		<span *ngIf="tag.description">{{ tag.description }}</span>
		<a
			[routerLink]="['/public/home']"
			[queryParams]="{ tags: tag.id }"
			class="mt-auto all-tags-text mb-2"
			>Przejdź do wszystkich pytań w tagu ></a
		>
		<app-button
			*ngIf="!tag.parentTagId"
			class="show-subtags py-1 px-4 ms-auto mb-0"
			(click)="this.tagClick.emit(tag)">
			Pokaż podtagi ></app-button
		>
	</div>
	<ng-template #subtag>
		<div class="image-container tag-box-child">
			<div class="background-academic-blue"></div>

			<h4 class="text-container">{{ tag.name }}</h4>
			<app-button
				[routerLink]="['/public/home']"
				[queryParams]="{ tags: tag.id }"
				class="all-tags-button px-3 py-1"
				>Pokaż pytania w podtagu ></app-button
			>
			<div [appLoading]="isLoading" class="tag-logo">
				<img
					[src]="tag.imageUrl"
					(load)="isLoading = false"
					alt="Zdjęcie tagu"
					class="tag-logo" />
			</div>
		</div>
	</ng-template>
	<app-uniquanda-line
		class="mt-auto mb-0"
		*ngIf="!parentTagId"></app-uniquanda-line>
</div>
