<div class="box p-4">
	<h5>Kup premium</h5>
	<span> Kupując premium otrzymasz: </span>
	<span class="d-block bold mt-3"> Szykuj się na potężną dawkę wiedzy! </span>
	<div class="benefit">
		<app-icon icon="check"></app-icon>
		<span><span class="bold">Brak</span> reklam!</span>
	</div>
	<div class="benefit">
		<app-icon icon="check"></app-icon>
		<span><span class="bold">Nielimitowane</span> zadawnie pytań!</span>
	</div>
	<div class="benefit">
		<app-icon icon="check"></app-icon>
		<span><span class="bold">Nielimitowany</span> dostęp do kursów!</span>
	</div>
	<div class="benefit">
		<app-icon icon="check"></app-icon>
		<span><span class="bold">Nielimitowane</span> generowanie testów!</span>
	</div>
	<div class="benefit">
		<app-icon icon="check"></app-icon>
		<span>
			<span class="bold">Możliwość</span>
			wysyłania wiadomości prywatnych do innych użytkowników!
		</span>
	</div>
	<span class="d-block bold mt-3">Szykuj się na potężną dawkę wiedzy!</span>
	<app-button class="p-2 mt-3" routerLink="/user/settings/premium">
		Aktywuj teraz
	</app-button>
</div>
