@use './../../../../../../assets/icons/style.css';
@use './../../../../../../assets/scss/colors.scss' as colors;

.custom-dropzone {
	overflow: hidden;
	border: none;
	border-radius: 0;
	background-size: cover;
	background-color: var(--bg-default);
}

.custom-dropzone.ngx-dz-hovered {
	border: none;
}

.icon-camera-container {
	background: colors.$crystal-black;
	height: min(60px, 5vw);
	width: min(60px, 5vw);
}

.icon-camera {
	font-size: min(30px, 2.5vw);
	color: colors.$crystal-white;
}

@media all and (max-width: 575px) {
	.icon-camera-container {
		height: 30px;
		width: 30px;
	}

	.icon-camera {
		font-size: 12px;
	}
}