@use './../../../../../../assets/icons/style.css';
@use './../../../../../../assets/scss/colors.scss' as colors;

.custom-dropzone {
	overflow: hidden;
	border: 0px solid;
	border-radius: 0;
	background-size: cover;
}

.custom-dropzone.ngx-dz-hovered {
	border: 0px solid;
}

.icon-camera-container {
	background: colors.$crystal-black;
	height: 60px;
	width: 60px;
}

.icon-camera {
	font-size: 25px;;
	color: colors.$crystal-white;
}

@media all and (max-width: 991px) {
	.icon-camera-container {
		max-height: 60px;
		max-width: 60px;
		height: 6vw;
		width: 6vw;
	}

	.icon-camera {
		font-size: 2.5vw;
	}
}

@media all and (max-width: 575px) {
	.icon-camera-container {
		height: 30px;
		width: 30px;
	}

	.icon-camera {
		font-size: 12px;
	}
}