<form
	[formGroup]="form"
	(ngSubmit)="handleResetPassword()"
	class="d-flex flex-column">
	<h1 class="mx-auto mt-4 mt-sm-0 mb-2 mb-sm-3">Ustaw nowe hasło</h1>
	<app-input
		label="Hasło"
		hint="Min. 8 znaków, jedna wielka litera, jedna mała litera, jedna cyfra."
		[control]="this.form.controls['password']"
		type="password"
		[errors]="[
			{
				name: null,
				message:
					'Min. 8 znaków, jedna wielka litera, jedna mała litera, jedna cyfra.'
			}
		]">
	</app-input>
	<app-input
		label="Powtórz hasło"
		[control]="this.form.controls['repeatPassword']"
		type="password"
		class="mt-2"
		[errors]="[
			{
				name: null,
				message: 'Hasła nie są identyczne.'
			}
		]">
	</app-input>
	<app-button mode="submit" class="mt-2 mt-sm-3 p-3"> Dalej </app-button>
</form>
