<div class="w-100 h-100 d-flex flex-column align-items-center">
	<div class="login-card my-auto py-3 py-sm-5 px-4 px-sm-0">
		<div class="google-box d-flex mb-2">
			<img
				src="/assets/images/public/login/google_login.svg"
				alt="google-logo"
				class="m-auto google-logo" />
		</div>
		<form
			[formGroup]="form"
			(ngSubmit)="handleLogin()"
			class="login-form d-flex flex-column p-sm-5">
			<h1 class="mx-auto mt-4 mt-sm-0 mb-4 mb-sm-5">Zaloguj się</h1>
			<app-input
				label="E-mail"
				[control]="form.controls['email']"
				[hideRequiredMarker]="true"
				[errors]="[
					{
						name: 'required',
						message: 'Adres e-mail jest wymagany.'
					},
					{
						name: 'pattern',
						message: 'Nie poprawny adres e-mail.'
					}
				]">
			</app-input>
			<app-input
				label="Hasło"
				type="password"
				[control]="form.controls['password']"
				[hideRequiredMarker]="true"
				[errors]="[
					{
						name: 'required',
						message: 'Hasło jest wymagane.'
					},
					{
						name: 'pattern',
						message: 'Siła hasła nie spełnia polityki serwisu.'
					}
				]"></app-input>
			<app-button
				type="link"
				class="ms-auto me-0 mt-2 forgot-password"
				routerLink="/public/recover-password"
				>Nie pamiętasz hasła?</app-button
			>
			<app-button class="mt-5"> Zaloguj się </app-button>
			<div class="mt-3 mx-auto register-box">
				<span class="me-1">Nie masz konta?</span>
				<app-button
					type="link"
					class="register-text"
					routerLink="/public/register"
					>Zarejestruj się!</app-button
				>
			</div>
		</form>
	</div>
	<div class="footer-decoration"></div>
</div>
