@use './../../../../assets/icons/style.css';
@use './../../../../assets/scss/colors.scss' as colors;
@use './../../../../assets/scss/breakpoints.scss' as breakpoints;

.login-card {
	width: 520px;

	.google-box {
		cursor: pointer;
		border: 1px solid colors.$bordered-gray;
		border-radius: 7px;
		height: 65px;

		.google-logo {
			height: 60px;
			transition: opacity 300ms;
			&:hover {
				opacity: .7;
			}
		}
	}

	.login-form {
		border: 1px solid colors.$bordered-gray;
	}

	.forgot-password {
		color: colors.$academic-blue;
		font-size: 15px;
	}

	.register-box {
		font-size: 18px;

		.register-text {
			color: colors.$light-red;
		}
	}
}

@media all and (max-width: breakpoints.$sm) {
	.login-card {
		width: 100%;
	}

	.google-box {
		height: 55px;

		.google-logo {
			height: 50px
		}
	}

	.login-form {
		border: none !important;
	}
}
