@use 'colors' as col;
@use 'dimensions' as dim;
@use 'breakpoints' as bp;
.line {
	background-color: col.$bordered-gray;
	opacity: 1;
}
.left-menu {
	width: calc(100% - dim.$right-menu-width);
}
.right-menu {
	min-width: dim.$right-menu-width;
	margin: unset;
	margin-top: 160px;
}
@media screen and (max-width: bp.$lg) {
	.left-menu {
		width: 100%;
	}
	.right-menu {
		margin-top: unset;
		min-width: unset;
		width: 100%;
	}
}
