<div class="w-100 d-flex flex-lg-row flex-column">
	<div class="d-flex flex-column left-menu p-sm-5 p-2 py-4">
		<h1>{{ parentTag ? parentTag.name : 'Tagi' }}</h1>
		<div *ngIf="parentTag" class="mb-3 d-flex flex-column">
			<span class="tag-description">{{ parentTag.description }}</span>
			<a
				[routerLink]="['/public/home']"
				[queryParams]="{ tagId: parentTag.id }"
				class="mt-3 link-text"
				>Pokaż wszystkie pytania w tagu ></a
			>
		</div>
		<div class="d-flex flex-row mt-1">
			<i class="me-2" [innerHTML]="getTagTypeSearchInfo()"> </i>
			<span [appLoading]="!tags" class="font-italic">{{ totalSize }}</span>
		</div>
		<div class="d-md-flex flex-row w-100 mt-2 d-none">
			<span class="my-auto label ms-auto">Sortuj wg:</span>
			<app-button
				class="ms-2 px-3 py-1"
				[color]="orderDirection === OrderDirection.Ascending ? 'blue' : 'gray'"
				(click)="changeOrderDirection(OrderDirection.Ascending)"
				>Nazwa A-Z</app-button
			>
			<app-button
				class="ms-2 px-3 py-1"
				[color]="orderDirection === OrderDirection.Descending ? 'blue' : 'gray'"
				(click)="changeOrderDirection(OrderDirection.Descending)"
				>Nazwa Z-A</app-button
			>
			<app-button class="ms-2 px-3 py-1" [color]="'gray'" appNotImplemented
				>Popularność</app-button
			>
		</div>
		<div class="d-flex flex-row w-100 mt-2 d-md-none">
			<span class="my-auto label ms-auto">Sortuj wg:</span>
			<app-button
				class="ms-2 px-3 py-1"
				*ngIf="orderDirection === OrderDirection.Ascending"
				(click)="changeOrderDirection(OrderDirection.Ascending)"
				>Nazwa A-Z</app-button
			>
			<app-button
				class="ms-2 px-3 py-1"
				*ngIf="orderDirection === OrderDirection.Descending"
				(click)="changeOrderDirection(OrderDirection.Descending)"
				>Nazwa Z-A</app-button
			>
			<app-icon
				[icon]="'arrow'"
				class="ms-2 dropdown-icon"
				mat-icon-button
				[matMenuTriggerFor]="menu"></app-icon>
			<mat-menu #menu="matMenu">
				<div appTheme class="py-2">
					<app-button
						class="px-3 py-1 mx-2"
						color="gray"
						*ngIf="orderDirection !== OrderDirection.Descending"
						(click)="changeOrderDirection(OrderDirection.Descending)"
						>Nazwa Z-A</app-button
					>
					<app-button
						class="px-3 py-1 mt-2 mx-2"
						color="gray"
						*ngIf="orderDirection !== OrderDirection.Ascending"
						(click)="changeOrderDirection(OrderDirection.Ascending)"
						>Nazwa A-Z</app-button
					>
					<app-button
						class="px-3 py-1 mt-2 mx-2"
						[color]="'gray'"
						appNotImplemented
						>Popularność</app-button
					>
				</div>
			</mat-menu>
		</div>
		<label for="search" class="mt-3 label mb-1">Wyszukaj tag</label>
		<input
			id="search"
			type="text"
			[formControl]="searchControl"
			placeholder="Wpisz tag który Cię interesuje"
			class="px-2 py-1 tag-input mb-3" />
		<div
			*ngIf="tags !== null; else loadingTags"
			class="d-flex flex-wrap justify-content-center">
			<ng-container *ngIf="tags.tags.length > 0; else notags">
				<ng-container *ngFor="let tag of tags.tags">
					<app-tag-on-list
						[tag]="tag"
						[parentTagId]="this.parentTagId ?? null"
						(tagClick)="loadSubTag($event)"></app-tag-on-list>
				</ng-container>
			</ng-container>
			<ng-template #notags><i>Nie znaleziono żadnych tagów</i></ng-template>
		</div>
		<ng-template #loadingTags>
			<div class="d-flex flex-wrap justify-content-center">
				<div
					*ngFor="let temp of [].constructor(_pageSize)"
					[appLoading]="true"
					class="loading-div mt-2 mx-1"></div>
			</div>
		</ng-template>
		<app-paginator
			*ngIf="tags !== null"
			class="ms-auto me-lg-0 mt-3 mx-auto"
			[totalSize]="totalSize"
			[pageSize]="_pageSize"
			[page]="pageBehavior.asObservable()"
			(pageChange)="pageChange($event)"
			[showInput]="true"></app-paginator>
	</div>
	<app-right-menu [options]="['create-an-account', 'top-users', 'buy-premium']">
	</app-right-menu>
</div>
