@import './../../../../assets/icons/style.css';
@import './../../../../assets/scss/colors.scss';

.header-height {
	height: 75px;	
}

.img-logo{
	height: 45px;
}

.a-btn{
	font-size: 17px;
	font-weight: 500;
	padding: 5px 36px 5px 36px;
	color: $crystal-white;
	border-radius: 7px;
	white-space: nowrap;
}

.search-bar{
	height: 40px;
	background-color: $elegant-gray;
	outline: 0;
}

.btn-search{
	color: $light-gray;
	font-size: 25px;
	font-weight: 500;
}

::-webkit-input-placeholder {
  font-weight: 500;
}
::-moz-placeholder {
  font-weight: 500;
}
:-ms-input-placeholder {
  font-weight: 500;
}
:-moz-placeholder {
  font-weight: 500;
}

.a-register{
	background-color: $light-purple;
}

.a-login{
	background-color: $academic-blue;
}

.footer-container{
	height: 5px;
}

.footer-cell-academicBlue{
	background-color: $academic-blue;
}

.footer-cell-blueLaguna{
	background-color: $blue-laguna;
}

.footer-cell-darkYellow{
	background-color: $dark-yellow;
}

.footer-cell-pink{
	background-color: $pink;
}

.footer-cell-lightRed{
	background-color: $light-red;
}

@media all and (max-width: 991px) {
	.search-bar {
		background-color: $crystal-white;
		margin-right: 0.5rem;
	}
}

@media all and (max-width: 767px) {
	.a-btn{
		padding-left: 27px;
		padding-right: 27px;
	}
}

@media all and (max-width: 575px) {
	.search-bar {
		margin-right: 0.25rem;
	}
	.header-height {
		height: 55px;	
	}
	
	.img-logo{
		height: 25px;
	}

	.a-btn{
		font-size: 11px;
		padding-left: 9px;
		padding-right: 9px;
	}

	.btn-search{
		font-size: 15px;
	}
}