@use './../../../../assets/icons/style.css';
@use './../../../../assets/scss/dimensions.scss' as dim;
@use './../../../../assets/scss/colors.scss' as colors;
@use './../../../../assets/scss/breakpoints.scss' as breakpoints;

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--bg-default);
	z-index: 100;
}

.header-height {
	height: calc(dim.$header-height-sm - dim.$header-footer-height);
}

.img-logo {
	content: url('./../../../../assets/images/core/header/logo_blue.svg');
	height: 40px;
}

.a-btn {
	font-size: 15px;
	font-weight: 500;
	padding: 5px 31px 5px 31px;
	color: colors.$crystal-white;
	border-radius: 7px;
	white-space: nowrap;
	box-shadow: none;

	&:hover {
		opacity: .8;
	}
}


.search-bar {
	height: 35px;
	background-color: var(--bg-accent);
	color: var(--text-accent);
	outline: 0;

	@mixin placeholder {
		font-weight: 500;
		color: var(--text-accent);
	}

	&::placeholder {
		@include placeholder;
	}
	&:-ms-input-placeholder {
		@include placeholder;
	}
	&::-ms-input-placeholder {
		@include placeholder;
	}
}

.btn-search {
	color: var(--text-accent);
	font-size: 20px;
	font-weight: 500;
}

.btn-avatar {
	cursor: pointer;
	border: 1px solid var(--bg-accent);
}

.a-register {
	background-color: colors.$light-purple;
}

.a-login {
	background-color: colors.$academic-blue;
}

.footer-container {
	height: dim.$header-footer-height;
}

.footer-cell-academicBlue {
	background-color: colors.$academic-blue;
}

.footer-cell-blueLaguna {
	background-color: colors.$blue-laguna;
}

.footer-cell-darkYellow {
	background-color: colors.$dark-yellow;
}

.footer-cell-pink {
	background-color: colors.$pink;
}

.footer-cell-lightRed {
	background-color: colors.$light-red;
}

@media all and (max-width: breakpoints.$lg) {
	.search-bar {
		background-color: var(--bg-accent);
		margin-right: 0.5rem;
	}

	.btn-search {
		background: none;
	}
}

@media all and (max-width: breakpoints.$md) {
	.a-btn{
		padding-left: 27px;
		padding-right: 27px;
	}
}

@media all and (max-width: breakpoints.$sm) {
	.search-bar {
		margin-right: 0.25rem;
	}
	.header-height {
		height: calc(dim.$header-height - dim.$header-footer-height);	
	}
	
	.img-logo {
		height: 25px;
	}

	.a-btn {
		font-size: 11px;
		padding-left: 9px;
		padding-right: 9px;
	}

	.btn-search {
		font-size: 15px;
	}

	.btn-avatar {
		width: 25px;
		height: 25px;
	}
}

.dark {
	.img-logo {
		content: url('./../../../../assets/images/core/header/logo_white.svg');
	}
}