<header>
	<div class="main-container">
		<div class="left-container">
			<img
				src="./../../../../assets/images/common/logo/logo_blue.svg"
				class="img-logo"
				alt="UniQuanda-Logo" />
			<span class="search-bar"> Szukaj </span>
		</div>
		<div class="btn-container">
			<a routerLink="/register" class="a-btn a-register">Zarejestruj się</a>
			<a routerLink="/login" class="a-btn a-login">Zaloguj się</a>
		</div>
	</div>
	<div class="footer-container">
		<div class="footer-cell-academicBlue"></div>
		<div class="footer-cell-blueLaguna"></div>
		<div class="footer-cell-darkYellow"></div>
		<div class="footer-cell-pink"></div>
		<div class="footer-cell-lightRed"></div>
	</div>
</header>
