<div class="w-100 h-100 d-flex flex-column align-items-center">
	<div class="register-card my-sm-auto py-3 py-sm-5 px-4 px-sm-0">
		<form
			[formGroup]="form"
			(ngSubmit)="handleRegister()"
			class="register-form d-flex flex-column p-sm-5">
			<h1 class="mx-auto mt-4 mt-sm-0 mb-4 mb-sm-5">Zarejestruj się</h1>
			<app-input
				label="Nazwa użytkownika"
				[control]="this.form.controls['nickname']"
				[errors]="[
					{ name: 'required', message: 'Nazwa użytkownika jest wymagana.' },
					{
						name: 'minlength',
						message: 'Nazwa użytkownika musi mieć min. 3 znaki.'
					},
					{
						name: 'maxlength',
						message: 'Nazwa użytkownika może mieć max. 30 znaków.'
					},
					{
						name: 'nicknameExists',
						message: 'Nazwa użytkownika jest już zajęta.'
					}
				]">
			</app-input>
			<app-input
				label="E-mail"
				[control]="this.form.controls['email']"
				[errors]="[
					{
						name: 'required',
						message: 'Adres e-mail jest wymagany.'
					},
					{
						name: 'pattern',
						message: 'Niepoprawny format adresu e-mail.'
					},
					{
						name: 'maxlength',
						message: 'Nie! Nie przyjmujemy maili dłuższych niż 320 znaków.'
					},
					{
						name: 'emailExists',
						message: 'Wybrany adres e-mail jest już zajęty.'
					}
				]">
			</app-input>
			<app-input
				label="Hasło"
				hint="Min. 8 znaków, jedna wielka litera, jedna mała litera, jedna cyfra."
				[control]="this.form.controls['password']"
				type="password"
				[errors]="[
					{
						name: null,
						message:
							'Min. 8 znaków, jedna wielka litera, jedna mała litera, jedna cyfra.'
					}
				]">
			</app-input>
			<app-input
				label="Powtórz hasło"
				[control]="this.form.controls['repeatPassword']"
				type="password"
				[errors]="[
					{
						name: null,
						message: 'Hasła nie są identyczne.'
					}
				]">
			</app-input>
			<app-button mode="submit" class="mt-4 mt-sm-5 p-3">
				Kontynuuj
			</app-button>
			<div class="mt-3 mx-auto login-box">
				<span class="me-1">Masz już konto?</span>
				<app-button color="none" routerLink="/public/login" class="login-text">
					Zaloguj się!
				</app-button>
			</div>
		</form>
	</div>
	<div class="footer-decoration"></div>
</div>
