@use './../../../../../../../../assets/scss/breakpoints.scss' as breakpoints;
@use './../../../../../../../../assets/scss/colors.scss' as colors;

.action-btn {
	margin-left: 12px;
}

@media all and (max-width: breakpoints.$sm) {
	.header-container {
		margin-bottom: 12px;
	}

	.action-btn {
		margin-left: 0;
	}
}