<h4 class="page-title">Email</h4>
<div
	class="d-flex flex-sm-row flex-column align-items-sm-end justify-content-sm-between">
	<div class="header-container">
		<h5 class="title">Zmień główny e-mail</h5>
		<span class="description"
			>Wybierz główny e-mail konta. Na niego będziemy wysyłać najważniejsze
			powiadomienia związane z kontem.</span
		>
	</div>
	<app-button class="action-btn px-4 py-2" (click)="changeVisibilityForm()">{{
		isFormVisible ? 'Zamknij' : 'Zmień główny e-mail'
	}}</app-button>
</div>
<app-update-main-email-form
	*ngIf="isFormVisible"
	[userEmails]="userEmails"
	class="d-flex flex-column align-items-start form-container"></app-update-main-email-form>
