@use './../../../../../../assets/scss/colors.scss' as colors;
@use './../../../../../../assets/icons/style.css';
@use './../../../../../../assets/scss/breakpoints.scss' as breakpoints;
.infoContainer {
	max-width: 260px;
	& .divider {
		height: 0.5px;
		background-color: colors.$light-gray;
	}
	& .see-more-text {
		color: colors.$light-gray;
	}
	& .small-text {
		font-size: 13px;
	}
}
.loading-box {
	width: 100%;
	height: 200px;
}