@use 'colors' as colors;
@use 'breakpoints' as breakpoints;

.infoContainer {
	width: 260px;
	& .divider {
		height: 0.5px;
		background-color: colors.$light-gray;
	}
	& .see-more-text {
		color: colors.$light-gray;
		width: fit-content;
	}
	& .small-text {
		font-size: 13px;
	}
	& .paper {
		color: colors.$light-gray;
	}
}
.dark {
	& .paper {
		color: colors.$dark-yellow;
	}
	& .see-more-text {
		color: colors.$crystal-white;
	}
}
.loading-box {
	width: 100%;
	height: 200px;
}
@media screen and (max-width: breakpoints.$lg) {
	.infoContainer {
		width: unset;
	}
}