@use 'colors' as colors;

.box {
	border: 1px solid colors.$bordered-gray;

	span {
		font-size: 14px;
		
		strong {
			color: colors.$academic-blue;
		}
	}

	&.dark span strong {
		color: colors.$dark-yellow;
	}
}

