@use "colors" as colors;

.box {
  border: 1px solid colors.$bordered-gray;

  &.dark .title {
    color: colors.$dark-yellow;
  }

  span {
    font-size: 14px;
  }

  .title {
    color: colors.$academic-blue;
  }
}
