@use "colors" as colors;
@use "dimensions" as dim;

:host {
  display: flex;
  height: 5px;
}

.footer-cell-academicBlue {
  background-color: colors.$academic-blue;
}

.footer-cell-blueLaguna {
  background-color: colors.$blue-laguna;
}

.footer-cell-darkYellow {
  background-color: colors.$dark-yellow;
}

.footer-cell-pink {
  background-color: colors.$pink;
}

.footer-cell-lightRed {
  background-color: colors.$light-red;
}
