@use "colors" as colors;

.label-title {
  margin-top: 18px;
}

.option {
  color: var(--text-default);
}

.fake-input {
  color: var(--text-default);
  background-color: var(--bg-accent);
  cursor: pointer;
}

.filename-placeholder {
  font-size: 12px;
  max-width: 117px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .filename {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.optional-info {
  color: var(--text-default) !important;
  background-color: var(--bg-default) !important;
  border: 1px solid colors.$bordered-gray !important;
  border-radius: 0;
  outline: none;
}

.invalid-border {
  border-bottom: 2px solid colors.$validation-red;
}

.error-text {
  color: colors.$validation-red;
  font-size: 14px;
}

.send-btn {
  width: fit-content;
}

.required-image-text {
  margin-left: 78px;
}

.info-box {
  width: fit-content;
  border-radius: 7px;
  color: colors.$academic-blue;
  background-color: colors.$tag-blue;
}

:host {
  ::ng-deep {
    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color: var(--link-default);
    }

    .mat-select-value-text {
      color: var(--text-default);
    }

    .mat-focused .mat-form-field-required-marker {
      color: colors.$academic-blue;
    }

    .dark {
      &.mat-focused .mat-form-field-required-marker {
        color: colors.$dark-yellow;
      }

      &.mat-form-field-invalid {
        &.mat-focused .mat-form-field-required-marker {
          color: colors.$validation-red;
        }
      }
    }

    .mat-select-panel {
      background-color: var(--bg-default);
      color: var(--text-default);
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: var(--bg-accent) !important;
      border-radius: 0;
    }
  }

  ::ng-deep mat-form-field {
    font-family: Ubuntu, sans-serif !important;

    .mat-input-element {
      color: var(--text-default);
    }

    .mat-form-field-underline::before {
      background-color: colors.$bordered-gray;
    }
  }

  .mat-form-field:not(.mat-form-field-invalid) {
    ::ng-deep .mat-form-field-underline {
      .mat-form-field-ripple {
        background-color: colors.$academic-blue;
      }
    }
  }

  .suffix {
    color: colors.$light-gray;
  }

  .dark {
    .mat-input-element {
      caret-color: colors.$dark-yellow;
    }

    &.mat-form-field.mat-focused:not(.mat-form-field-invalid) {
      ::ng-deep .mat-form-field-label {
        color: colors.$dark-yellow;
      }
    }

    &.mat-form-field:not(.mat-form-field-invalid) {
      ::ng-deep .mat-form-field-underline {
        .mat-form-field-ripple {
          background-color: colors.$dark-yellow;
        }
      }
    }

    &.mat-form-field:not(.mat-focused) {
      ::ng-deep .mat-form-field-label {
        color: colors.$bordered-gray !important;
      }
    }

    &.mat-form-field {
      ::ng-deep .mat-hint {
        color: colors.$light-gray;
      }

      ::ng-deep .mat-icon-button {
        color: colors.$bordered-gray;
      }
    }

    .suffix {
      color: colors.$bordered-gray;
    }
  }
}
