<div class="w-100 h-100 d-flex flex-column align-items-center">
	<div class="recover-password-wrapper my-auto py-3 py-sm-5 px-4 px-sm-0">
		<div
			class="recover-password-card flex-column p-sm-5"
			[ngSwitch]="activeView">
			<app-recover-password-form
				*ngSwitchCase="'form'"
				(afterRecover)="activeView = 'success'">
			</app-recover-password-form>
			<app-recover-password-success *ngSwitchCase="'success'">
			</app-recover-password-success>
		</div>
	</div>
	<div class="footer-decoration"></div>
</div>
