@use './../../../../../../assets/scss/colors.scss' as colors;
@use './../../../../../../assets/scss/breakpoints.scss' as breakpoints;

.recover-password-wrapper {
	width: 520px;

	.recover-password-card {
		border: 1px solid colors.$bordered-gray;
	}
}

@media all and (max-width: breakpoints.$sm) {
	.recover-password-wrapper {
		width: 100%;

		.recover-password-card {
			border: none;
		}
	}
}
