<mat-form-field appearance="fill" [hideRequiredMarker]="!showRequiredMarker">
	<mat-label>{{ label }}</mat-label>
	<input
		matInput
		[formControl]="formControl"
		type="{{
			type === 'password' && isPasswordHidden ? 'password' : 'text'
		}}" />
	<app-icon
		[icon]="isPasswordHidden ? 'hide' : 'show'"
		matSuffix
		*ngIf="type === 'password'"
		class="suffix"
		(click)="togglePassword(); $event.stopImmediatePropagation()"></app-icon>
	<mat-hint>{{ hint }}</mat-hint>
	<mat-error *ngFor="let error of errors">
		<ng-container *ngIf="error.name">
			{{ formControl.hasError(error.name) ? error.message : '' }}
		</ng-container>
		<ng-container *ngIf="!error.name">
			{{ formControl.invalid ? error.message : '' }}
		</ng-container>
	</mat-error>
</mat-form-field>
