@use 'colors' as colors;

.box {
	border: 1px solid colors.$bordered-gray;

	span {
		font-size: 14px;

		&.bold {
			font-weight: 500;
		}
	}

	input {
		height: 40px;
		width: 100%;
		padding: 0 8px;
		font-size: 14px;
		outline: none;
		border: none;
		background-color: colors.$elegant-gray;
	}

	&.dark input {
		color: colors.$crystal-white;
		background-color: colors.$light-gray;
	}
}