@use './../assets/scss/dimensions.scss' as dim;
@use './../assets/scss/breakpoints.scss' as breakpoints;

.main-content{
	margin-top: dim.$header-height-sm;
	min-height: calc(100vh - dim.$header-height-sm);
	background-color: var(--bg-default);
	color: var(--text-default);
}

.nav-bar-margin{
	margin-left: dim.$nav-bar-width-sm;
}

@media all and (max-width: breakpoints.$sm) {
	.main-content{
		margin-top: dim.$header-height;
		max-width: 100%;
		min-height: calc(100vh - (dim.$header-height + dim.$nav-bar-height));
		margin-bottom: dim.$nav-bar-height;
	}

	.nav-bar-margin{
		margin-left: 0;
	}
}