@use './../assets/scss/dimensions.scss' as dim;

.main-content{
	margin-top: dim.$heder-height-sm;
	max-height: calc(100% - dim.$heder-height-sm);
}

.nav-bar-margin{
	margin-left: dim.$nav-bar-width-sm;
}

@media all and (max-width: 575px) {
	.main-content{
		margin-top: dim.$header-height;
		max-width: 100%;
		
		margin-bottom: dim.$nav-bar-height;
	}

	.nav-bar-margin{
		margin-left: 0;
	}
}