<div
	*ngFor="let answer of answers; let i = index"
	class="mb-4"
	id="item{{ answer.id }}">
	<app-answer-details
		[ngClass]="answer.parentId && answer.commentsAmount ? 'mb-3' : 'mb-4'"
		[question]="question"
		[answer]="answer"
		[answers]="answers"
		[idLoggedUser]="idLoggedUser"
		[isQuestionAuthor]="isQuestionAuthor"
		[isEvenRow]="i % 2 === 1"
		[i]="i"
		[answerToScroll]="
			commentToScroll === null || commentToScroll === undefined
				? answerToScroll
				: null
		"
		customId="i{{ i }}">
	</app-answer-details>
</div>
