@use "colors" as colors;

.btn-container {
  margin-top: 28px;
  margin-bottom: 20px;
}

.cancel-btn {
  background-color: colors.$light-red;
}

.confirm-btn {
  background-color: colors.$academic-blue;
}
