@use '../../../../assets/scss/colors.scss' as colors;

:host {
	width: 100%;
	
	::ng-deep mat-form-field {
		width: 100%;
		font-family: Ubuntu, sans-serif !important;

		.mat-form-field-infix {
			padding: 0;
		}

		.mat-form-field-label-wrapper {
			top: -1.1em !important;
		}

		.mat-form-field-outline {
		color: colors.$bordered-gray !important;
		}

		.mat-form-field-outline-thick {
			color: colors.$academic-blue !important;
		}

		.mat-form-field-outline-start,
		.mat-form-field-outline-end {
			border-radius: 0;
		}
	}

	.dark {
		&.mat-form-field:not(.mat-focused) {
			::ng-deep .mat-form-field-label {
				color: colors.$bordered-gray !important;
			}
		}

		&.mat-form-field {
			::ng-deep .mat-hint {
				color: colors.$light-gray;
			}

			::ng-deep .mat-textarea::placeholder {
				color: colors.$light-gray !important;
			}
		}
	}
}