@use "breakpoints" as breakpoints;
@use "colors" as colors;

.extend-btn {
  background-color: colors.$dark-yellow;
}

.buy-btn {
  background-color: colors.$blue-laguna;
}

.main-container {
  font-size: 16px;
}

.check-icon {
  background-color: colors.$dark-yellow;
  color: colors.$crystal-white;
}

hr {
  margin-top: 0.5rem !important;
}

@media all and (max-width: breakpoints.$sm) {
  .margin-text {
    margin-bottom: 16px;
  }

  .main-container {
    font-size: 12px;
  }

  .extend-btn,
  .buy-btn {
    font-size: 12px;
    margin-bottom: 9px;
  }
}
