@use 'colors' as colors;
@use 'dimensions' as dim;
@use 'breakpoints' as breakpoints;

.profile-rectangle {
	border: 1px solid colors.$bordered-gray;
	width: calc(1400px - dim.$nav-bar-width-sm - 28px);
	margin-bottom: 100px;
}

.source-material {
	border-left: 1px solid colors.$bordered-gray;
}

.navigation {
	width: calc(1400px - dim.$nav-bar-width-sm - 260px);
}

@media all and (max-width: breakpoints.$xxl) {
	.profile-rectangle {
		width: 100%;
		border: none;
	}
	.navigation {
		width: calc(100vw - 371px);
	}
}
@media all and (max-width: breakpoints.$lg) {
	.navigation {
		width: calc(100vw - dim.$nav-bar-width-sm - 18px); //poprawka na scrollbar na niektórych przeglądarkach
	}
}
@media all and (max-width: breakpoints.$sm) {
	.navigation {
		width: calc(100vw - 18px); //poprawka na scrollbar na niektórych przeglądarkach
	}
}