<div class="w-100 h-100 d-flex flex-column align-items-center">
	<div class="not-found-wrapper my-auto py-3 py-sm-5 px-4 px-sm-0">
		<div class="d-flex flex-column p-sm-5">
			<div class="heading d-flex align-items-center justify-content-center">
				<app-icon icon="Page_not_found"></app-icon>
				<span class="ms-2">404</span>
			</div>
			<span class="title text-center text-nowrap mb-2 mb-sm-3">
				Ups! Coś poszło nie tak!
			</span>
			<span class="description text-center mb-3 mb-sm-4">
				Wygląda na to, że strona, której szukasz mogła zostać usunięta lub nie
				istnieje
			</span>
			<app-button class="p-3" routerLink="/public/home">
				Wróć na stronę główną >
			</app-button>
		</div>
	</div>
	<div class="footer-decoration"></div>
</div>
