@use './../../../../../../assets/icons/style.css';
@use './../../../../../../assets/scss/colors.scss' as colors;
@use './../../../../../../assets/scss/breakpoints.scss' as breakpoints;

.nav-container {
	row-gap: 6px;
	column-gap: 10px;
	font-weight: 500;
}

.icon-item {
	font-size: 16px;
	margin-right: 6px;
}

.item {
	padding: 10px 13px 10px 13px;
	background-color: var(--bg-accent);
	color: var(--text-default);
	font-size: 16px;
}

.active {
	background-color: colors.$academic-blue;
	color: colors.$crystal-white;
}

@media all and (max-width: breakpoints.$sm) {
	.item {
		padding: 6px 13px 6px 13px;
		font-size: 13px;
	}

	.icon-item {
		font-size: 13px;
		margin-right: 9px;
	}
}