<nav class="d-flex flex-row flex-wrap nav-container">
	<app-button
		shape="rect"
		color="none"
		class="item"
		routerLink="/user/settings/profile"
		routerLinkActive="active">
		<app-icon icon="profile" class="icon-item"></app-icon>
		Dane uzytkownika
	</app-button>
	<app-button
		shape="rect"
		color="none"
		class="item"
		routerLink="/user/settings/security"
		routerLinkActive="active">
		<app-icon icon="safety" class="icon-item"></app-icon>
		Bezpieczeństwo
	</app-button>
	<app-button
		shape="rect"
		color="none"
		class="item"
		routerLink="/user/settings/premium"
		routerLinkActive="active">
		<app-icon icon="premium" class="icon-item"></app-icon>
		Premium
	</app-button>
	<app-button
		shape="rect"
		color="none"
		class="item"
		routerLink="/user/settings/academic-title"
		routerLinkActive="active">
		<app-icon icon="certificate" class="icon-item"></app-icon>
		Tytuł naukowy
	</app-button>
</nav>
