<nav class="d-flex flex-row flex-wrap nav-container">
	<a class="item" routerLink="/user/settings/profile" routerLinkActive="active">
		<app-icon icon="profile" class="icon-item"></app-icon>
		<span class="item-text">Dane użytkownika</span>
	</a>
	<a
		class="item"
		routerLink="/user/settings/security"
		routerLinkActive="active">
		<app-icon icon="safety" class="icon-item"></app-icon>
		<span class="item-text">Bezpieczeństwo</span>
	</a>
	<a class="item" routerLink="/user/settings/premium" routerLinkActive="active">
		<app-icon icon="premium" class="icon-item"></app-icon>
		<span class="item-text">Premium</span>
	</a>
	<a
		class="item"
		routerLink="/user/settings/academicTitle"
		routerLinkActive="active">
		<app-icon icon="certificate" class="icon-item"></app-icon>
		<span class="item-text">Tytuł naukowy</span>
	</a>
</nav>
