<div class="d-flex flex-column align-items-start">
	<h5 class="title">E-maile przypisane do konta</h5>
	<span class="description"
		>Do swojego konta możesz przypisać 3 dodatkowe e-maile.</span
	>
	<span class="mb-2"><b>Główny:</b> {{ userEmails?.mainEmail?.value }}</span>
	<app-delete-extra-email-form
		class="w-100"
		*ngFor="let extraEmail of userEmails?.extraEmails"
		[extraEmail]="extraEmail"></app-delete-extra-email-form>
	<app-button class="action-btn px-4 py-2" (click)="changeVisibilityForm()">{{
		isExtraEmailFormVisible ? 'Zamknij' : 'Przypisz kolejny e-mail do konta'
	}}</app-button>
	<app-add-extra-email-form
		*ngIf="isExtraEmailFormVisible"
		[userEmails]="userEmails"
		class="d-flex flex-column align-items-start form-container"></app-add-extra-email-form>
</div>
