<div class="d-flex flex-column align-items-start">
	<h5 class="title" [appLoading]="!userEmails">E-maile przypisane do konta</h5>
	<i class="description" [appLoading]="!userEmails"
		>Do swojego konta możesz przypisać 3 dodatkowe e-maile.</i
	>
	<div class="d-flex flex-column w-100" *ngIf="userEmails; else noData">
		<span class="mt-3 mb-2" [appLoading]="!userEmails"
			><b>Główny:</b> {{ userEmails.mainEmail.value }}</span
		>
		<app-delete-extra-email-form
			*ngFor="let extraEmail of userEmails?.extraEmails"
			[extraEmail]="extraEmail"></app-delete-extra-email-form>
	</div>
	<ng-template #noData>
		<div
			class="w-50 mt-3 lh-1 email-row-loading"
			*ngFor="let _ of [].constructor(3)"
			[appLoading]="!userEmails"></div>
	</ng-template>
	<app-button
		class="action-btn px-4 py-2 mt-3"
		(click)="changeVisibilityForm()"
		[appLoading]="!userEmails"
		>{{
			isExtraEmailFormVisible ? 'Zamknij' : 'Przypisz kolejny e-mail do konta'
		}}</app-button
	>
	<app-add-extra-email-form
		*ngIf="isExtraEmailFormVisible"
		[userEmails]="userEmails"
		class="form-container"></app-add-extra-email-form>
</div>
