<ng-template
	#page
	[ngTemplateOutlet]="page"
	let-user
	[ngTemplateOutletContext]="{ $implicit: user$ | async }">
	<div class="w-100 banner">
		<img
			[src]="
				user?.userData?.banner !== null
					? user?.userData?.banner
					: 'assets/public/profile/default_users_background.svg'
			"
			class="w-100 banner-image"
			alt="banner" />
	</div>
	<div class="w-100 d-flex flex-column" appTheme>
		<img
			[src]="
				user?.userData?.avatar !== null
					? user?.userData?.avatar
					: 'assets/public/profile/deafult_users_avatar.svg'
			"
			alt="profile-picture"
			class="profile-picture"
			[ngClass]="{ loading: user === null }" />
		<div class="header-content d-flex mt-sm-3 mt-2">
			<div class="d-flex flex-column w-100">
				<div class="badges d-flex">
					<div *ngFor="let title of user?.academicTitles" class="me-1">
						<b
							class="p-2 title-badge"
							[ngStyle]="{
								'background-color': getAcademicTitleTypeColor(
									title.academicTitleType
								)
							}">
							{{ title.name }}</b
						>
					</div>
				</div>
				<div class="d-flex flex-row w-100">
					<div
						class="d-flex flex-xl-row flex-column"
						*ngIf="
							user?.userData?.firstName && user?.userData?.lastName;
							else onlyNick
						">
						<b class="nickname mt-2 mt-sm-0"
							>{{ user?.userData?.firstName }} {{ user?.userData?.lastName }}</b
						>
						<span class="mt-auto mb-2 ms-2"
							>({{ user?.userData?.nickname }})</span
						>
					</div>
					<ng-template #onlyNick>
						<b class="nickname mt-2 mt-sm-0">{{ user?.userData?.nickname }}</b>
					</ng-template>
					<a
						*ngIf="'myProfile' !== 'myProfile'; else otherProfileMobile"
						class="icon-edit mobile-profile-icon p-2 ms-auto me-5 my-auto d-flex d-md-none"
						href="/user/profile/settings/edit"></a>
					<ng-template #otherProfileMobile>
						<div
							dropdown
							[insideClick]="true"
							container="body"
							class="ms-auto me-5 my-auto d-flex d-md-none">
							<i class="icon-dots p-2 mobile-profile-icon" dropdownToggle></i>
							<div
								*dropdownMenu
								class="dropdown-content d-flex flex-column p-2 d-md-none">
								<a
									href="/premium/message/createNewMessage/{{
										user?.userData?.id
									}}"
									*ngIf="'hasPremium' === 'hasPremium'"
									class="mx-4 mt-1">
									<i class="icon-mail"></i>
									Wyślij wiadomość </a
								><!--TODO: dodać poprawny warunek sprawdzania premium-->
								<hr class="mx-4 hrline my-2" />
								<a
									href="/user/report/{{ user?.userData?.id }}"
									class="mx-4 me-1">
									<i class="icon-report"></i>
									Zgłoś użytkownika
								</a>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
			<app-user-profile-header-stats
				[headerStatistics]="user?.headerStatistics"
				class="stats my-auto ms-auto me-3 d-md-flex d-none flex-row p-2"></app-user-profile-header-stats>
		</div>
		<div class="d-flex flex-column universities mt-3 mt-xl-4">
			<div
				*ngFor="let university of user?.universities"
				class="d-flex flex-row university">
				<a href="/public/university/{{ university.id }}">
					<img
						[src]="university.logo"
						alt="Logo placówki edukacyjnjej"
						class="university-logo" />
					{{ university.name }}
					<i class="icon-linkv2 ms-1"> </i>
				</a>
			</div>
		</div>
		<app-user-profile-header-stats
			[headerStatistics]="user?.headerStatistics"
			class="stats d-md-none d-flex flex-row p-2 mx-auto mt-3"></app-user-profile-header-stats>
		<hr class="mx-4 hrline d-xl-block d-none" />
		<div
			class="d-md-flex d-none flex-row mx-auto me-5 mt-xl-0 mt-3"
			*ngIf="'myProfile' !== 'myProfile'; else otherProfile">
			<a href="/user/profile/settings/edit" class="link-header p-2">
				<i class="icon-edit me-1"></i>
				Edytuj profil
			</a>
		</div>
		<ng-template #otherProfile>
			<div class="d-md-flex d-none flex-row mx-auto me-5 mt-xl-0 mt-3">
				<a href="/user/report/{{ user?.userData?.id }}" class="link-header p-2">
					<i class="icon-report"></i>
					Zgłoś użytkownika
				</a>
				<a
					href="/premium/message/createNewMessage/{{ user?.userData?.id }}"
					*ngIf="'hasPremium' === 'hasPremium'"
					class="ms-3 sendMessage link-header p-2">
					<i class="icon-mail"></i>
					Wyślij wiadomość </a
				><!--TODO: dodać poprawny warunek sprawdzania premium-->
			</div>
		</ng-template>
	</div>
</ng-template>
