@import './../../../../../../assets/scss/colors.scss';
.banner {
	height: 200px;
	overflow: hidden;
}
.header-content {
	margin-left: 250px;
}
.loading {
	background: linear-gradient(-45deg, $bordered-gray, $elegant-gray, $bordered-gray);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
}
.title-badge {
	color: $crystal-white;
}
.loading-badge {
	height: 38px;
	width: 50px;
}
.profile-picture {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-left: 38px;
	transform: translateY(-100px);
}
.nickname {
	font-size: 35px;
	color: $black;
}
.hrline {
	border: 1px solid $bordered-gray;
	opacity: 1; 
}
.universities {
	margin-left: 250px;
}
.university-logo {
	width: 25px;
	height: 25px;
	border-radius: 100%;
}
@media all and (max-width: 1400px) {
	.banner {
		height: 14.285714285714285vw;
	}
	.profile-picture {
		position: absolute;
		width: 14.285714285714285vw;
		height: 14.285714285714285vw;
		margin-left: 2.7142857142857144vw;
		transform: translateY(-7.1428571428571425vw);
	}
	.header-content {
		margin-left: 17.857142857142858vw;
	}
	.nickname {
		font-size: 28px;
	}
	.title-badge {
		font-size: 14px;
	}
	.universities {
		margin-left: 17.857142857142858vw;
	}
}

@media all and (max-width: 575px) {
	.banner {
		height: 82px !important;
		max-width: 100%;
	}
	.banner-image {
		width: 574px !important;
		overflow-x: hidden;
	}

	.profile-picture {
		width: 80px;
		height: 80px;
		margin-left: 38px;
		transform: translateY(-30px);
	}

	.header-content {
		margin-left: 130px
	}

	.nickname {
		font-size: 25px;
	}

	.title-badge {
		font-size: 12px !important;
	}

	.universities {
		margin-left: 38px;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
