<div class="d-flex flex-column mx-5 mt-5">
	<div class="d-flex flex-row">
		<app-button
			routerLink="/admin/title-requests"
			routerLinkActive="active"
			color="gray"
			class="px-3 py-2">
			Tytuły
		</app-button>
		<app-button
			appNotImplemented
			routerLink="/admin/reports"
			routerLinkActive="active"
			color="gray"
			class="px-3 py-2 ms-2">
			Zgłoszenia
		</app-button>
		<app-button
			appNotImplemented
			routerLink="/admin/admins"
			routerLinkActive="active"
			color="gray"
			class="px-3 py-2 ms-2">
			Administratorzy
		</app-button>
	</div>
	<div class="w-100 d-flex line mt-3"></div>
</div>
