@use './../../../../../../assets/scss/colors.scss' as colors;
@use './../../../../../../assets/scss/breakpoints.scss' as breakpoints;
@use "/src/assets/scss/dimensions.scss" as dim;

.form-container {
	min-height: 100vh;
}
.register-card {
	width: 520px;

	.register-form {
		border: 1px solid colors.$bordered-gray;

		.header {
			white-space: nowrap;
		}
	}
}

@media all and (max-width: breakpoints.$sm) {
	.form-container {
		min-height: calc(100vh - dim.$nav-bar-height);
	}
	.register-card {
		width: 100%;

		.register-form {
			border: none !important;
		}
	}
}