<nav class="d-flex flex-row flex-wrap nav-container">
	<a class="item" routerLink="/user/settings/profile" routerLinkActive="active">
		<i class="uniquanda-icon icon-profile"></i>
		<span class="item-text">Dane użytkownika</span>
	</a>
	<a
		class="item"
		routerLink="/user/settings/security"
		routerLinkActive="active">
		<i class="uniquanda-icon icon-safety"></i>
		<span class="item-text">Bezpieczeństwo</span>
	</a>
	<a class="item" routerLink="/user/settings/premium" routerLinkActive="active">
		<i class="uniquanda-icon icon-premium"></i>
		<span class="item-text">Premium</span>
	</a>
	<a class="item" routerLink="/user/settings/academicTitle" routerLinkActive="active">
		<i class="uniquanda-icon icon-certificate"></i>
		<span class="item-text">Tytuł naukowy</span>
	</a>
</nav>
