<div class="w-100 h-100 d-flex flex-column align-items-center">
	<div class="confirm-registration-card my-auto py-3 py-sm-5 px-4 px-sm-0">
		<form
			[formGroup]="form"
			class="confirm-registration-form d-flex flex-column p-sm-5"
			(ngSubmit)="handleSubmit()">
			<h1 class="header mx-auto mt-4 mt-sm-0 mb-2 mb-sm-3">
				Kod weryfikacyjny
			</h1>
			<span class="text-justify mx-auto mx-sm-0 mb-2 mb-sm-3"
				>Gdyby link wysłany na podany przy rejestracji adres e-mail nie działał,
				wpisz poniżej kod otrzymany w tym mailu.
			</span>
			<span class="mt-3 mb-2">Kod weryfikacyjny</span>
			<div class="d-flex flex-row gap-2 justify-content-center">
				<input
					*ngFor="let temp of [].constructor(codeLength); let inputId = index"
					type="number"
					formControlName="{{ 'codeInput' + inputId }}"
					class="code-input text-center"
					(ngModelChange)="handleInputChange(inputId)"
					[autofocus]="inputId === 0"
					#codeInput />
			</div>
			<app-button
				type="link"
				class="ms-auto mt-2 resend-mail"
				(click)="handleResendEmail()"
				>Wyślij ponownie kod</app-button
			>
			<app-button class="mt-4 mt-sm-5">Zweryfikuj</app-button>
		</form>
	</div>
	<div class="footer-decoration"></div>
</div>
