<form
	[formGroup]="form"
	(ngSubmit)="handleRecoverPassword()"
	class="d-flex flex-column">
	<h1 class="mx-auto mt-4 mt-sm-0 mb-2 mb-sm-3">Odzyskaj hasło</h1>
	<span class="description text-center mb-2 mb-sm-3">
		Wpisz e-mail konta, do którego chcesz odzyskać hasło
	</span>
	<app-input
		label="E-mail"
		[control]="this.form.controls['email']"
		[errors]="[
			{
				name: 'required',
				message: 'Adres e-mail jest wymagany.'
			},
			{
				name: 'pattern',
				message: 'Niepoprawny format adresu e-mail.'
			},
			{
				name: 'maxlength',
				message: 'Nie! Nie przyjmujemy maili dłuższych niż 320 znaków.'
			}
		]">
	</app-input>
	<app-button mode="submit" class="mt-2 mt-sm-3 p-3"> Dalej </app-button>
</form>
