<div
	class="d-flex flex-xl-row flex-column me-xl-0 me-sm-5 me-3 pe-xl-0 pe-sm-5 pe-2">
	<div class="d-flex flex-column ms-sm-5 ps-2 left-menu ms-2">
		<h1 class="mt-5">Pytania</h1>
		<app-question-sorting
			class="w-100"
			[questionSortingBy]="this.sortingBy"
			[orderDirection]="this.orderDirection"
			(changedSortingBy)="handleSortingChange($event)"
			(changedOrderDirection)="
				handleOrderDirectionChange($event)
			"></app-question-sorting>
		<span class="mt-3">Sortuj tagami</span>
		<app-tag-chips
			class="mb-3"
			[tagCtrl]="tagControl"
			[initialTags]="hasInitialTags ? tagBehavior.asObservable() : null"
			(selectedTagsEmitter)="handleTagsChanged($event)"></app-tag-chips>
		<ng-container *ngIf="questions.length !== 0; else noQuestions">
			<ng-container *ngFor="let question of questions">
				<app-question-box
					class="mb-4 question-box"
					[question]="question"></app-question-box>
			</ng-container>
		</ng-container>
		<ng-template #noQuestions>
			<ng-container *ngIf="isLoading; else notFound">
				<div
					*ngFor="let i of [].constructor(4)"
					[appLoading]="isLoading"
					class="loading-box w-100 mb-3"></div>
			</ng-container>
			<ng-template #notFound>
				<div class="mx-auto">Brak pytań spełniających podane kryteria</div>
			</ng-template>
		</ng-template>
		<app-paginator
			*ngIf="questions !== null"
			class="ms-auto me-lg-0 mx-auto mb-xl-5"
			[totalSize]="totalCount"
			[pageSize]="pageSize"
			[page]="pageBehavior.asObservable()"
			(pageChange)="handlePageChanged($event)"
			[showInput]="true"></app-paginator>
	</div>
	<div class="ms-sm-5 ms-2 ps-2 w-100 mb-3 mt-3 d-flex d-xl-none">
		<hr class="line w-100" />
	</div>
	<app-right-menu
		[options]="[
			'about',
			'create-an-account',
			'generate-test',
			'top-users',
			'buy-premium'
		]"
		class="right-menu ms-2 ms-sm-5 ps-2 ms-xl-unset ps-xl-unset">
	</app-right-menu>
</div>
