<div class="d-flex flex-xl-row flex-column w-100 px-lg-5 px-3">
	<div class="d-flex flex-column w-100 me-lg-5">
		<h1 class="mt-sm-5 mt-3 mb-1">Pytania</h1>
		<span
			class="search-text mb-1"
			*ngIf="searchTextSubmit$ | async as searchText">
			Wyszukiwana fraza:
			<strong>"{{ searchText }}"</strong>
		</span>
		<app-question-sorting
			class="w-100"
			[questionSortingBy]="this.sortingBy"
			[orderDirection]="this.orderDirection"
			(changedSortingBy)="handleSortingChange($event)"
			(changedOrderDirection)="
				handleOrderDirectionChange($event)
			"></app-question-sorting>
		<span class="mt-2 sort-label">Sortuj tagami:</span>
		<app-tag-chips
			class="mb-3"
			[tagCtrl]="tagControl"
			[initialTags]="hasInitialTags ? tagBehavior.asObservable() : null"
			(selectedTagsEmitter)="handleTagsChanged($event)">
		</app-tag-chips>
		<ng-container *ngIf="questions.length !== 0; else noQuestions">
			<ng-container *ngFor="let question of questions; let last = last">
				<app-question-box
					class="question-box"
					[class.mb-4]="!last"
					[question]="question"></app-question-box>
			</ng-container>
		</ng-container>
		<ng-template #noQuestions>
			<ng-container *ngIf="isLoading; else notFound">
				<div
					*ngFor="let i of [].constructor(4)"
					[appLoading]="isLoading"
					class="loading-box w-100 mb-3"></div>
			</ng-container>
			<ng-template #notFound>
				<div class="mx-auto">Brak pytań spełniających podane kryteria</div>
			</ng-template>
		</ng-template>
		<app-paginator
			*ngIf="questions !== null"
			class="ms-auto me-lg-0 mx-auto mb-xl-5"
			[totalSize]="totalCount"
			[pageSize]="pageSize"
			[page]="pageBehavior.asObservable()"
			(pageChange)="handlePageChanged($event)"
			[showInput]="true"></app-paginator>
	</div>
	<app-right-menu
		[options]="[
			'about',
			'create-an-account',
			'generate-test',
			'top-users',
			'buy-premium'
		]">
	</app-right-menu>
</div>
