@use 'breakpoints' as bp;
@use 'dimensions' as dim;
@use 'colors' as col;
.question-box {
	cursor: pointer;
}
.loading-box {
	height: 180px;
}
.app-right-menu {
	margin-top: 106px;
}
.left-menu {
	width: calc(100% - dim.$right-menu-width);
}
.line {
	background-color: col.$bordered-gray;
	opacity: 1;
}
@media screen and (max-width: bp.$xl) {
	.left-menu {
		width: 100%;
	}
	.loading-box {
		width: 100%;
	}
	.right-menu {
		width: 100%;
		margin: 0;
	}
}
