@use "colors" as colors;
@use "breakpoints" as breakpoints;

span,
a {
  background-color: colors.$tag-blue;
  color: colors.$academic-blue;
  border-radius: 5px;
  font-size: 13px;
  max-width: 100%;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dark {
  background-color: colors.$light-red;
  color: colors.$crystal-white;
}

a:hover {
  opacity: 0.8;
}

@media screen and (max-width: breakpoints.$sm) {
  a {
    font-size: 10px;
  }
}
