/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "assets/scss/toastr.scss"; /* stylelint-disable-line */
@import "assets/scss/datepicker.scss"; /* stylelint-disable-line */ 
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Ubuntu, sans-serif !important;
}

.height-header {
  min-height: calc(100vh - 80px);
}

a {
  text-decoration: none;
}

.footer-decoration {
  background-image: url("assets/images/common/footer/decoration.svg");
  background-repeat: repeat-x;
  margin-top: auto;
  height: 145px;
  margin-bottom: 0;
  overflow-x: hidden;
}

@media all and (max-width: 575px) {
  .height-header {
    min-height: calc(100vh - 60px);
  }
}
