<div class="d-flex flex-lg-row flex-column">
	<div class="left-menu d-flex flex-column ps-lg-5 ps-2">
		<h1 class="mx-3 mt-5">
			{{ editMode ? 'Edytuj pytanie' : 'Dodaj pytanie' }}
		</h1>
		<form
			[formGroup]="form"
			class="d-flex flex-column"
			(ngSubmit)="editMode ? updateQuestion() : handleAsk()">
			<app-input
				label="Tytuł pytania"
				class="px-3 mt-3"
				[control]="form.controls['title']"
				[showRequiredMarker]="true"
				[errors]="[
					{
						name: 'required',
						message: 'Treść pytania jest wymagana.'
					}
				]"></app-input>
			<h4 class="mt-3 mx-3">Wybierz tagi pytania</h4>
			<span class="small-text mx-3"
				>Do pytania możesz dodać maksymalnie {{ maxTagsAmount }} tagów</span
			>
			<app-tag-chips
				class="mx-3 mb-3"
				[tagCtrl]="tagInput"
				[initialTags]="initialTags"
				[maxTagsAmount]="maxTagsAmount"
				(selectedTagsEmitter)="setTags($event)"></app-tag-chips>
			<app-content-form
				[control]="form.controls['content']"
				[isEditMode]="true"
				[showBlocks]="true"
				class="px-3"></app-content-form>
			<mat-error
				class="error-text mx-3 mt-1"
				*ngIf="
					form.controls['content'].hasError('required') &&
					form.controls['content'].touched
				">
				Treść pytania jest wymagana</mat-error
			>
			<app-checkbox
				class="mx-3 mt-3"
				[control]="form.controls['confirmation']"
				[showRequiredMarker]="true"
				[label]="
					'Upewniłem/łam się że, takie pytanie nie pojawiło się już na stronie.'
				"
				[errors]="[
					{
						name: 'required',
						message:
							'Potwierdź że upewniłeś/łaś się, że pytanie nie zostało już zadane.'
					}
				]"></app-checkbox>
			<app-button
				mode="submit"
				*ngIf="editMode"
				class="px-3 py-2 mt-3 mx-3 ask-button"
				>Zaktualizuj pytanie</app-button
			>
			<app-button
				mode="submit"
				*ngIf="!editMode"
				class="px-3 py-2 mt-3 mx-3 ask-button"
				>Zadaj pytanie</app-button
			>
		</form>
	</div>
	<app-right-menu [options]="['buy-premium', 'top-users']"> </app-right-menu>
</div>
