<div class="d-flex flex-xl-row flex-column">
	<div class="left-menu d-flex flex-column ps-xl-5 ps-2">
		<h1 class="mx-3 mt-5">Dodaj pytanie</h1>
		<form
			[formGroup]="form"
			class="d-flex flex-column"
			(ngSubmit)="handleAsk()">
			<app-input
				label="Tytuł pytania"
				class="px-3 mt-3"
				[control]="form.controls['title']"
				[showRequiredMarker]="true"
				[errors]="[
					{
						name: 'required',
						message: 'Treść pytania jest wymagana.'
					}
				]"></app-input>
			<app-question-chips
				class="mx-3 mb-3"
				[tagCtrl]="tagInput"
				(selectedTagsEmitter)="setTags($event)"></app-question-chips>
			<app-content-form [control]="form.controls['content']"></app-content-form>
			<mat-error
				class="error-text mx-3 mt-1"
				*ngIf="
					form.controls['content'].hasError('required') &&
					form.controls['content'].touched
				">
				Treść pytania jest wymagana</mat-error
			>
			<app-checkbox
				class="mx-3 mt-3"
				[control]="form.controls['confirmation']"
				[showRequiredMarker]="true"
				[label]="
					'Upewniłem/łam się że, takie pytanie nie pojawiło się już na stronie.'
				"
				[errors]="[
					{
						name: 'required',
						message:
							'Potwierdź że upewniłeś/łaś się, że pytanie nie zostało już zadane.'
					}
				]"></app-checkbox>
			<app-button mode="submit" class="px-3 py-2 mt-3 mx-3 ask-button"
				>Zadaj pytanie</app-button
			>
		</form>
	</div>
	<app-right-menu
		[options]="[
			'top-users',
			'about',
			'buy-premium',
			'create-an-account',
			'generate-test'
		]">
	</app-right-menu>
</div>
