<app-dialog-base title="Zaloguj się" class="d-flex flex-column">
	<h6 class="text-center mt-3">
		Ta akcja dostępna jest tylko dla zalogowanych uzytkowników
	</h6>
	<hr />
	<div class="d-flex justify-content-center mb-3">
		<img src="assets/images/core/header/logo_blue.svg" class="logo" />
	</div>
	<div class="text-center">
		Zaloguj się i w pełni stań się członkiem naszej społecznośći, zyskując
		dostęp do nowych funkcjonalności
	</div>
	<hr />
	<div class="d-flex justify-content-end align-items-center">
		<app-button class="px-4 py-2" (click)="login()"> Zaloguj się </app-button>
	</div>
</app-dialog-base>
