<h4 class="page-title" [appLoading]="!userEmails">Hasło</h4>
<div
	class="d-flex flex-lg-row flex-column align-items-lg-end justify-content-lg-between align-items-start title-container">
	<div
		class="header-container"
		[ngClass]="{ 'header-container-loading': !userEmails }">
		<h5 class="title" [appLoading]="!userEmails">Zmień hasło</h5>
		<span class="description" [appLoading]="!userEmails"
			>Używaj silnego hasła, którego nie używasz nigdzie indziej!</span
		>
	</div>
	<app-button
		class="action-btn px-4 py-2"
		(click)="changeVisibilityForm()"
		[appLoading]="!userEmails"
		>{{ isFormVisible ? 'Zamknij' : 'Zmień hasło' }}</app-button
	>
</div>
<app-update-password-form
	#componentRef
	(isFormVisibleEvent)="changeVisibilityForm($event)"
	*ngIf="isFormVisible"
	class="d-flex flex-column form-container"></app-update-password-form>
