<h4 class="page-title">Hasło</h4>
<div
	class="d-flex flex-sm-row flex-column align-items-sm-end justify-content-sm-between">
	<div class="header-container">
		<h5 class="title">Zmień hasło</h5>
		<span class="description"
			>Używaj silnego hasła, którego nie używasz nigdzie indziej!</span
		>
	</div>
	<app-button class="action-btn px-4 py-2" (click)="changeVisibilityForm()">{{
		isFormVisible ? 'Zamknij' : 'Zmień hasło'
	}}</app-button>
</div>
<app-update-password-form
	(isFormVisibleEvent)="changeVisibilityForm($event)"
	*ngIf="isFormVisible"
	class="d-flex flex-column align-items-start form-container"></app-update-password-form>
