@import './../../../../assets/icons/style.css';
@import './../../../../assets/scss/colors.scss';
@import './../../../../assets/scss/dimensions.scss';

nav {
	background-color: $academic-blue;
	height: 100%;
	width: $nav-bar-sm-width;
	position: fixed;
	z-index: 2136;

	ul {
		padding-left: 0;
		list-style-type: none;

		li {
			height: 85px;
		}
	}
}

span {
	font-family: Ubuntu !important;
	font-weight: 500;
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.uniquanda-icon {
	font-size: 30px;
	color: $crystal-white;
}

.home:hover {
	background-color: $blue-laguna;
}

.tag:hover {
	background-color: $dark-yellow;
}

.test:hover {
	background-color: $pink;
}

.ranking:hover {
	background-color: $light-red;
}

.logout:hover {
	background-color: $light-purple;
}

.tiptext {
	background-color: $academic-blue;
  color: $crystal-white;
  visibility: hidden;
	font-size: 15px;
  text-align: center;
  border-radius: 7px;
  padding: 7px 12px 7px 12px;
	white-space: nowrap;
	margin-left: 20px;
  position: absolute;
  z-index: 1;
}

a:hover .tiptext {
  visibility: visible;
}

.tiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent $academic-blue transparent transparent;
}

.plus{
	visibility: hidden;
}

@media all and (max-width: 575px) {
	nav {
		height: $nav-bar-height;
		width: 100%;
		bottom: 0;

		ul {
			li {
				height: $nav-bar-height;
				width: 25%;
			}
		}
	}

	.uniquanda-icon {
		font-size: 20px;
	}

	.home {
		background-color: $blue-laguna;
	}
	
	.tag {
		background-color: $dark-yellow;
	}
	
	.test {
		background-color: $pink;
	}
	
	.ranking {
		background-color: $light-red;
	}

	a:hover .tiptext {
		visibility: hidden;
	}

	.logout-icon {
		visibility: hidden;
	}

	.plus {
		background-color: $academic-blue;
		color: $crystal-white;
		visibility: visible;
		position: absolute;
		left: 0; 
		right: 0; 
		height: 40px;
		width: 40px;
		bottom: calc($nav-bar-height/2);
	}
}
