<nav>
	<ul class="d-flex flex-sm-column flex-row">
		<li class="home">
			<a routerLink="/public/home" class="icon-container">
				<i class="uniquanda-icon icon-home">
					<span class="tiptext"> Strona Główna </span>
				</i>
			</a>
		</li>
		<li class="tag">
			<a routerLink="/public/tags" class="icon-container">
				<i class="uniquanda-icon icon-tag">
					<span class="tiptext"> Tagi </span>
				</i>
			</a>
		</li>
		<li class="test">
			<a routerLink="/public/tests" class="icon-container">
				<i class="uniquanda-icon icon-test">
					<span class="tiptext"> Testy </span>
				</i>
			</a>
		</li>
		<li class="ranking">
			<a routerLink="/public/ranking" class="icon-container">
				<i class="uniquanda-icon icon-ranking">
					<span class="tiptext"> Ranking </span>
				</i>
			</a>
		</li>
		<li *ngIf="_userDataService.isUserLoggedIn()" class="logout">
			<a routerLink="/logout" class="icon-container">
				<i class="uniquanda-icon icon-logout">
					<span class="tiptext"> Wyloguj się </span>
				</i>
			</a>
		</li>
		<a
			routerLink="/public/questions/add"
			class="icon-container plus mx-auto rounded-circle">
			<i class="uniquanda-icon icon-plus fs-6"></i>
		</a>
	</ul>
</nav>
