<nav class="nav-container">
	<div class="d-flex flex-sm-column flex-row">
		<a
			class="home item"
			routerLink="/public/home"
			routerLinkActive="active"
			tooltip="Strona Główna"
			placement="right">
			<i class="uniquanda-icon icon-home"> </i>
		</a>
		<a
			routerLink="/public/tags"
			routerLinkActive="active"
			class="tag item"
			tooltip="Tagi"
			placement="right">
			<i class="uniquanda-icon icon-tag"> </i>
		</a>
		<a
			routerLink="/public/tests"
			routerLinkActive="active"
			class="test item"
			tooltip="Testy"
			placement="right">
			<i class="uniquanda-icon icon-test"> </i>
		</a>
		<a
			routerLink="/public/ranking"
			routerLinkActive="active"
			class="ranking item"
			tooltip="Ranking"
			placement="right">
			<i class="uniquanda-icon icon-ranking"> </i>
		</a>
		<a
			*ngIf="user$ | async"
			class="logout item"
			tooltip="Wyloguj"
			placement="right"
			routerLink="/logout">
			<i class="uniquanda-icon icon-logout"> </i>
		</a>
		<a
			routerLink="/public/questions/add"
			class="item plus mx-auto rounded-circle">
			<i class="uniquanda-icon icon-plus fs-6"></i>
		</a>
	</div>
</nav>
