@use './../../../../assets/icons/style.css';
@use './../../../../assets/scss/colors.scss' as colors;
@use './../../../../assets/scss/dimensions.scss' as dim;
@use './../../../../assets/scss/breakpoints.scss' as breakpoints;

.nav-container {
	background-color: colors.$academic-blue;
	height: 100%;
	width: dim.$nav-bar-width-sm;
	position: fixed;
	z-index: 1;
}

.item {
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.uniquanda-icon {
	font-size: 30px;
	color: colors.$crystal-white;
}

.home:hover,
.home.active {
	background-color: colors.$blue-laguna;
}

.tag:hover,
.tag.active {
	background-color: colors.$dark-yellow;
}

.test:hover,
.text.active {
	background-color: colors.$pink;
}

.ranking:hover,
.ranking.active {
	background-color: colors.$light-red;
}

.logout:hover {
	background-color: colors.$light-purple;
}

.plus{
	visibility: hidden;
}

@media all and (max-width: breakpoints.$sm) {
	.nav-container {
		height: dim.$nav-bar-height;
		width: 100%;
		bottom: 0;
	}

	.item {
		height: dim.$nav-bar-height;
		width: 25%;
	}

	.uniquanda-icon {
		font-size: 20px;
	}

	.home {
		background-color: colors.$blue-laguna;
	}
	
	.tag {
		background-color: colors.$dark-yellow;
	}
	
	.test {
		background-color: colors.$pink;
	}
	
	.ranking {
		background-color: colors.$light-red;
	}

	.logout {
		display: none;
	}

	.plus {
		background-color: colors.$academic-blue;
		color: colors.$crystal-white;
		visibility: visible;
		position: absolute;
		left: 0; 
		right: 0; 
		height: 40px;
		width: 40px;
		bottom: calc(dim.$nav-bar-height/2);
	}
}
